.signup .image {
  min-height: 100vh;
  filter: blur(8px);
}
.signup .image img {
  width: 100%;
  height: 100vh;
}
.signup .text {
  width: 20rem;
  background-color: rgb(194, 236, 194);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signup_main .text {
  width: 50%;
}

@media (max-width: 768px) {
  .signup_main .text {
    height: 80%;
  }
  .signup_main .text::-webkit-scrollbar {
    display: none;
  }
  .signup_main .text {
    overflow-y: scroll;
  }
  .signup_main .formdiv {
    flex-direction: column;
  }
  .signup_main .formdiv div {
    width: 100% !important;
  }
}

@media (max-width: 600px) {
  .signup_main .text {
    width: 25rem;
  }
}

@media (max-width: 450px) {
  .signup_main .text {
    width: 18rem;
  }
  .signup_main .formdiv div {
    width: 100% !important;
    margin-bottom: 0 !important;
  }
  .signup_main button,
  .signup_main .form-check-input {
    margin-bottom: 0 !important;
  }
  .signup_main input,
  .signup_main button {
    height: 2rem;
  }
  .signup_main .form-check-input {
    height: 1rem;
  }
}

@media (max-width: 350px) {
  .signup .text {
    width: 17rem;
  }
  .signup_main .text {
    width: 15rem;
  }
}
